.carousel-slide {
    height: 100vh;
    width: 100vW;
    position: relative;
}

.carousel-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel-slide-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 15%;
    padding-top: 12%;
}


.carousel-slide-content h1 {
    width: 35%;
    margin: 0;

}

.carousel-slide-content h2 {
    width: 40%;
}