.navbar {
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: end;
    padding-top: 2%;
    padding-bottom: 3%;
    z-index: 1;
}

.navbar-item-list {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 0;
    gap: 30px;
    margin-right: 14%;
}

.navbar-item-list li {
    position: relative;
}

.navbar-item-list li::after {
    content: "";
    display: block;
    position: absolute;
    width: 0;
    left: 50%;
    height: 2px;
    background: blue;
    transition: width 0.3s, left 0.3s;
    background-color: #2185d5;
}

.navbar-item-list li:hover::after {
    width: 100%;
    left: 0;
}