.container {
    position: relative;
}

.container .icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
}


.container .icon-container .icon {
    border-radius: 50%;
    height: 75px;
    width: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
}


.container .info {
    background-color: #f9f6f0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px;
    width: 19vw;
    height: auto;
    color: black;

}