#contactos {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 3%;
    padding-bottom: 6%
}

#contactos .contact-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 3%;
    padding-left: 15%;
    padding-right: 15%;
    gap: 50px;
}

#contactos .contact-box a {
    color: #2185d5;
}