#quem-somos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 3%;
    padding-bottom: 6%
}

#quem-somos .about-row {
    display: flex;
    flex-direction: row;
    padding-top: 3%;
    padding-left: 15%;
    padding-right: 15%;

}

#quem-somos .about-row img {
    width: 50%;
    height: 50%;
    margin-right: 3%;
}


#quem-somos .about-row .about-column {
    margin-left: 3%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: justify;
}

#quem-somos .about-row .about-column h2 {
    color: #000;
    margin-top: 0%;
}